In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

In [2]:
Data_1 = pd.read_csv('../data/train_data/01_음식물쓰레기_FOOD_WASTE_210811_update.CSV',encoding='cp949', low_memory = False)
Data_2 = pd.read_csv('../data/train_data/02-1_내국인유동인구_KOREAN.CSV',encoding='cp949')
Data_3 = pd.read_csv('../data/train_data/02-2_장기체류 외국인 유동인구_LONG_TERM_FRGN.CSV',encoding='cp949')
Data_4 = pd.read_csv('../data/train_data/02-3_단기체류 외국인 유동인구_SHORT_TERM_FRGN.CSV',encoding='cp949')
Data_5 = pd.read_csv('../data/train_data/04_음식관련 카드소비_CARD_SPENDING.CSV',encoding='cp949')

## 아침, 점심, 저녁 내국인 유동인구

In [3]:
a = ['우도면', '추자면']
Data_2 = Data_2.drop(Data_2.query("emd_nm in @a").index)

In [4]:
temp = Data_2.groupby(['base_date','emd_nm','time']).sum().reset_index()
temp

,base_date,emd_nm,time,emd_cd,age,resd_pop_cnt,work_pop_cnt,visit_pop_cnt
0,2018-01-01,건입동,1,1803981240,1440,8234.3087,506.5472,5123.2413
1,2018-01-01,건입동,2,1803981240,1440,8395.8304,501.6065,5236.8215
2,2018-01-01,건입동,3,1803981240,1440,8436.3172,477.0906,5190.2790
3,2018-01-01,건입동,4,1803981240,1440,8449.7851,451.9721,5257.0690
4,2018-01-01,건입동,5,1703760060,1290,8438.1201,460.2766,5436.7787
...,...,...,...,...,...,...,...,...
1256563,2021-06-30,효돈동,20,1804699800,1440,3403.1940,176.5715,1857.2576
1256564,2021-06-30,효돈동,21,1804699800,1440,3598.4514,155.6464,1776.4128
1256565,2021-06-30,효돈동,22,1804699800,1440,3793.2173,136.4883,1802.0158
1256566,2021-06-30,효돈동,23,1804699800,1440,3998.1158,121.6452,1692.6367
1256567,2021-06-30,효돈동,24,1804699800,1440,4939.2441,75.4621,926.5442

In [5]:
temp.drop(['emd_cd','age'],axis=1,inplace=True)

In [6]:
a = temp.groupby(['base_date','time']).mean().reset_index()
a['emd_nm'] = '알수없음'

In [7]:
a = a[['base_date','emd_nm','time','resd_pop_cnt','work_pop_cnt','visit_pop_cnt']]

In [8]:
df = pd.concat([temp,a])

In [9]:
df.sort_values(by=['base_date','emd_nm'])

          base_date emd_nm  time  resd_pop_cnt  work_pop_cnt  visit_pop_cnt
0        2018-01-01    건입동     1     8234.3087      506.5472      5123.2413
1        2018-01-01    건입동     2     8395.8304      501.6065      5236.8215
2        2018-01-01    건입동     3     8436.3172      477.0906      5190.2790
3        2018-01-01    건입동     4     8449.7851      451.9721      5257.0690
4        2018-01-01    건입동     5     8438.1201      460.2766      5436.7787
...             ...    ...   ...           ...           ...            ...
1256563  2021-06-30    효돈동    20     3403.1940      176.5715      1857.2576
1256564  2021-06-30    효돈동    21     3598.4514      155.6464      1776.4128
1256565  2021-06-30    효돈동    22     3793.2173      136.4883      1802.0158
1256566  2021-06-30    효돈동    23     3998.1158      121.6452      1692.6367
1256567  2021-06-30    효돈동    24     4939.2441       75.4621       926.5442

[1287216 rows x 6 columns]

In [10]:
a = [7,8,9]
temp = df.query("time in @a")

In [11]:
temp = temp.groupby(['base_date','emd_nm']).sum().reset_index()

In [12]:
temp.drop('time',axis=1,inplace=True)

In [13]:
temp.columns = ['일자','읍면동','아침_거주인구','아침_근무인구','아침_방문인구']
base = temp
base

               일자  읍면동      아침_거주인구    아침_근무인구     아침_방문인구
0      2018-01-01  건입동   23135.2020  2197.3953  23734.9423
1      2018-01-01  구좌읍   34088.4096  2133.9308  39279.5331
2      2018-01-01  남원읍   36792.2482  2370.7174  29574.9226
3      2018-01-01  노형동  147677.8328  6067.6430  39108.8039
4      2018-01-01  대륜동   35091.6521  2239.7704  24145.2365
...           ...  ...          ...        ...         ...
53629  2021-06-30  표선면   30642.5574  2948.9168  21019.1984
53630  2021-06-30  한경면   21503.2446  1912.2242  11617.5659
53631  2021-06-30  한림읍   59846.8685  6475.3745  34625.2806
53632  2021-06-30  화북동   73562.6806  5919.7466  28408.3363
53633  2021-06-30  효돈동   10907.4568   634.1596   4465.1551

[53634 rows x 5 columns]

In [14]:
a = [11,12,13]
temp = df.query("time in @a")

In [15]:
temp = temp.groupby(['base_date','emd_nm']).sum().reset_index()

In [16]:
temp.drop('time',axis=1,inplace=True)

In [17]:
temp.columns = ['일자','읍면동','점심_거주인구','점심_근무인구','점심_방문인구']
base = pd.merge(base, temp, how='left')

In [18]:
a = [17,18,19]
temp = df.query("time in @a")
temp = temp.groupby(['base_date','emd_nm']).sum().reset_index()
temp.drop('time',axis=1,inplace=True)
temp.columns = ['일자','읍면동','저녁_거주인구','저녁_근무인구','저녁_방문인구']
base = pd.merge(base, temp, how='left')
base

,일자,읍면동,아침_거주인구,아침_근무인구,아침_방문인구,점심_거주인구,점심_근무인구,점심_방문인구,저녁_거주인구,저녁_근무인구,저녁_방문인구
0,2018-01-01,건입동,23135.2020,2197.3953,23734.9423,19103.7819,3104.3580,22945.3031,17486.4049,3013.9263,29793.8414
1,2018-01-01,구좌읍,34088.4096,2133.9308,39279.5331,32386.3979,2876.1814,42117.0947,31377.8340,2401.9572,27504.8419
2,2018-01-01,남원읍,36792.2482,2370.7174,29574.9226,33437.2235,3382.0584,36226.4746,32791.2693,2321.5210,25011.7564
3,2018-01-01,노형동,147677.8328,6067.6430,39108.8039,131213.4800,10437.7500,58669.6608,134734.9901,13122.1301,74316.7731
4,2018-01-01,대륜동,35091.6521,2239.7704,24145.2365,28965.6549,2780.6744,25470.4854,28147.6779,2857.1275,30304.8855
...,...,...,...,...,...,...,...,...,...,...,...
53629,2021-06-30,표선면,30642.5574,2948.9168,21019.1984,26721.8432,5148.3408,26369.4275,28130.1560,3415.1205,18520.2079
53630,2021-06-30,한경면,21503.2446,1912.2242,11617.5659,18252.7447,3564.1198,16209.7570,18812.5673,2357.6253,13661.2459
53631,2021-06-30,한림읍,59846.8685,6475.3745,34625.2806,53300.7115,11059.5355,46796.3759,55890.7791,6899.5916,39092.0558
53632,2021-06-30,화북동,73562.6806,5919.7466,28408.3363,51819.2324,10767.2774,39192.3853,60286.5190,8489.3173,40475.7685
53633,2021-06-30,효돈동,10907.4568,634.1596,4465.1551,8190.4122,1162.2182,8023.1816,9208.1926,881.3927,6935.2563

## 아침, 점심, 저녁 외국인 유동인구

In [19]:
a = ['우도면', '추자면']
Data_3 = Data_3.drop(Data_3.query("emd_nm in @a").index)

In [20]:
temp = Data_3.groupby(['base_date','emd_nm','time']).sum().reset_index()
temp

,base_date,emd_nm,time,emd_cd,resd_pop_cnt,work_pop_cnt,visit_pop_cnt
0,2018-01-01,건입동,1,701548260,194.4027,30.5056,156.1608
1,2018-01-01,건입동,2,701548260,196.6941,22.6345,148.8606
2,2018-01-01,건입동,3,701548260,183.3233,22.6345,151.8221
3,2018-01-01,건입동,4,701548260,188.7795,13.3501,147.8880
4,2018-01-01,건입동,5,701548260,188.8245,7.8735,147.3685
...,...,...,...,...,...,...,...
1256563,2021-06-30,효돈동,20,601566600,47.1162,5.2404,47.4853
1256564,2021-06-30,효돈동,21,451174950,41.8758,5.2404,30.2029
1256565,2021-06-30,효돈동,22,451174950,40.3908,5.2404,25.3556
1256566,2021-06-30,효돈동,23,501305500,40.3908,0.0000,29.8181
1256567,2021-06-30,효돈동,24,501305500,52.6508,0.0000,20.0184

In [21]:
temp.drop('emd_cd',axis=1,inplace=True)

In [22]:
a = temp.groupby(['base_date','time']).mean().reset_index()
a['emd_nm'] = '알수없음'

In [23]:
a = a[['base_date','emd_nm','time','resd_pop_cnt','work_pop_cnt','visit_pop_cnt']]

In [24]:
df = pd.concat([temp,a])

In [25]:
df.sort_values(by=['base_date','emd_nm'])

          base_date emd_nm  time  resd_pop_cnt  work_pop_cnt  visit_pop_cnt
0        2018-01-01    건입동     1      194.4027       30.5056       156.1608
1        2018-01-01    건입동     2      196.6941       22.6345       148.8606
2        2018-01-01    건입동     3      183.3233       22.6345       151.8221
3        2018-01-01    건입동     4      188.7795       13.3501       147.8880
4        2018-01-01    건입동     5      188.8245        7.8735       147.3685
...             ...    ...   ...           ...           ...            ...
1256563  2021-06-30    효돈동    20       47.1162        5.2404        47.4853
1256564  2021-06-30    효돈동    21       41.8758        5.2404        30.2029
1256565  2021-06-30    효돈동    22       40.3908        5.2404        25.3556
1256566  2021-06-30    효돈동    23       40.3908        0.0000        29.8181
1256567  2021-06-30    효돈동    24       52.6508        0.0000        20.0184

[1287216 rows x 6 columns]

In [26]:
a = [7,8,9]
temp = df.query("time in @a")
temp = temp.groupby(['base_date','emd_nm']).sum().reset_index()
temp.drop('time',axis=1,inplace=True)
temp.columns = ['일자','읍면동','아침_장외_거주인구','아침_장외_근무인구','아침_장외_방문인구']
base = pd.merge(base, temp, how='left')
base

,일자,읍면동,아침_거주인구,아침_근무인구,아침_방문인구,점심_거주인구,점심_근무인구,점심_방문인구,저녁_거주인구,저녁_근무인구,저녁_방문인구,아침_장외_거주인구,아침_장외_근무인구,아침_장외_방문인구
0,2018-01-01,건입동,23135.2020,2197.3953,23734.9423,19103.7819,3104.3580,22945.3031,17486.4049,3013.9263,29793.8414,579.3976,75.8958,538.5850
1,2018-01-01,구좌읍,34088.4096,2133.9308,39279.5331,32386.3979,2876.1814,42117.0947,31377.8340,2401.9572,27504.8419,814.1019,69.3515,392.9430
2,2018-01-01,남원읍,36792.2482,2370.7174,29574.9226,33437.2235,3382.0584,36226.4746,32791.2693,2321.5210,25011.7564,889.0194,110.2609,252.0126
3,2018-01-01,노형동,147677.8328,6067.6430,39108.8039,131213.4800,10437.7500,58669.6608,134734.9901,13122.1301,74316.7731,5879.8603,318.8226,1097.1457
4,2018-01-01,대륜동,35091.6521,2239.7704,24145.2365,28965.6549,2780.6744,25470.4854,28147.6779,2857.1275,30304.8855,323.1430,32.1686,259.6316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53629,2021-06-30,표선면,30642.5574,2948.9168,21019.1984,26721.8432,5148.3408,26369.4275,28130.1560,3415.1205,18520.2079,518.0440,52.9966,385.5901
53630,2021-06-30,한경면,21503.2446,1912.2242,11617.5659,18252.7447,3564.1198,16209.7570,18812.5673,2357.6253,13661.2459,901.9392,40.7158,711.0444
53631,2021-06-30,한림읍,59846.8685,6475.3745,34625.2806,53300.7115,11059.5355,46796.3759,55890.7791,6899.5916,39092.0558,3213.0483,179.6102,1731.9677
53632,2021-06-30,화북동,73562.6806,5919.7466,28408.3363,51819.2324,10767.2774,39192.3853,60286.5190,8489.3173,40475.7685,819.0660,106.9172,240.2832
53633,2021-06-30,효돈동,10907.4568,634.1596,4465.1551,8190.4122,1162.2182,8023.1816,9208.1926,881.3927,6935.2563,128.8729,5.2404,86.6483

In [27]:
a = [11,12,13]
temp = df.query("time in @a")
temp = temp.groupby(['base_date','emd_nm']).sum().reset_index()
temp.drop('time',axis=1,inplace=True)
temp.columns = ['일자','읍면동','점심_장외_거주인구','점심_장외_근무인구','점심_장외_방문인구']
base = pd.merge(base, temp, how='left')
base

,일자,읍면동,아침_거주인구,아침_근무인구,아침_방문인구,점심_거주인구,점심_근무인구,점심_방문인구,저녁_거주인구,저녁_근무인구,저녁_방문인구,아침_장외_거주인구,아침_장외_근무인구,아침_장외_방문인구,점심_장외_거주인구,점심_장외_근무인구,점심_장외_방문인구
0,2018-01-01,건입동,23135.2020,2197.3953,23734.9423,19103.7819,3104.3580,22945.3031,17486.4049,3013.9263,29793.8414,579.3976,75.8958,538.5850,595.0578,90.4522,715.7913
1,2018-01-01,구좌읍,34088.4096,2133.9308,39279.5331,32386.3979,2876.1814,42117.0947,31377.8340,2401.9572,27504.8419,814.1019,69.3515,392.9430,798.4917,102.7427,551.7607
2,2018-01-01,남원읍,36792.2482,2370.7174,29574.9226,33437.2235,3382.0584,36226.4746,32791.2693,2321.5210,25011.7564,889.0194,110.2609,252.0126,823.1252,129.3804,399.6969
3,2018-01-01,노형동,147677.8328,6067.6430,39108.8039,131213.4800,10437.7500,58669.6608,134734.9901,13122.1301,74316.7731,5879.8603,318.8226,1097.1457,4883.3319,426.6690,1507.9721
4,2018-01-01,대륜동,35091.6521,2239.7704,24145.2365,28965.6549,2780.6744,25470.4854,28147.6779,2857.1275,30304.8855,323.1430,32.1686,259.6316,351.0192,31.5960,296.4562
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53629,2021-06-30,표선면,30642.5574,2948.9168,21019.1984,26721.8432,5148.3408,26369.4275,28130.1560,3415.1205,18520.2079,518.0440,52.9966,385.5901,463.9853,98.7956,569.7682
53630,2021-06-30,한경면,21503.2446,1912.2242,11617.5659,18252.7447,3564.1198,16209.7570,18812.5673,2357.6253,13661.2459,901.9392,40.7158,711.0444,784.2514,83.1545,665.2376
53631,2021-06-30,한림읍,59846.8685,6475.3745,34625.2806,53300.7115,11059.5355,46796.3759,55890.7791,6899.5916,39092.0558,3213.0483,179.6102,1731.9677,3059.2799,242.4090,2259.0213
53632,2021-06-30,화북동,73562.6806,5919.7466,28408.3363,51819.2324,10767.2774,39192.3853,60286.5190,8489.3173,40475.7685,819.0660,106.9172,240.2832,605.5591,167.4824,389.6259
53633,2021-06-30,효돈동,10907.4568,634.1596,4465.1551,8190.4122,1162.2182,8023.1816,9208.1926,881.3927,6935.2563,128.8729,5.2404,86.6483,113.4358,28.8864,134.0862

In [28]:
a = [17,18,19]
temp = df.query("time in @a")
temp = temp.groupby(['base_date','emd_nm']).sum().reset_index()
temp.drop('time',axis=1,inplace=True)
temp.columns = ['일자','읍면동','저녁_장외_거주인구','저녁_장외_근무인구','저녁_장외_방문인구']
base = pd.merge(base, temp, how='left')
base

,일자,읍면동,아침_거주인구,아침_근무인구,아침_방문인구,점심_거주인구,점심_근무인구,점심_방문인구,저녁_거주인구,저녁_근무인구,저녁_방문인구,아침_장외_거주인구,아침_장외_근무인구,아침_장외_방문인구,점심_장외_거주인구,점심_장외_근무인구,점심_장외_방문인구,저녁_장외_거주인구,저녁_장외_근무인구,저녁_장외_방문인구
0,2018-01-01,건입동,23135.2020,2197.3953,23734.9423,19103.7819,3104.3580,22945.3031,17486.4049,3013.9263,29793.8414,579.3976,75.8958,538.5850,595.0578,90.4522,715.7913,474.1814,103.4853,626.5822
1,2018-01-01,구좌읍,34088.4096,2133.9308,39279.5331,32386.3979,2876.1814,42117.0947,31377.8340,2401.9572,27504.8419,814.1019,69.3515,392.9430,798.4917,102.7427,551.7607,956.6426,102.5129,401.2847
2,2018-01-01,남원읍,36792.2482,2370.7174,29574.9226,33437.2235,3382.0584,36226.4746,32791.2693,2321.5210,25011.7564,889.0194,110.2609,252.0126,823.1252,129.3804,399.6969,885.3347,119.5241,310.6768
3,2018-01-01,노형동,147677.8328,6067.6430,39108.8039,131213.4800,10437.7500,58669.6608,134734.9901,13122.1301,74316.7731,5879.8603,318.8226,1097.1457,4883.3319,426.6690,1507.9721,5016.9845,558.0186,1940.0103
4,2018-01-01,대륜동,35091.6521,2239.7704,24145.2365,28965.6549,2780.6744,25470.4854,28147.6779,2857.1275,30304.8855,323.1430,32.1686,259.6316,351.0192,31.5960,296.4562,377.1736,23.7257,448.0142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53629,2021-06-30,표선면,30642.5574,2948.9168,21019.1984,26721.8432,5148.3408,26369.4275,28130.1560,3415.1205,18520.2079,518.0440,52.9966,385.5901,463.9853,98.7956,569.7682,476.3412,79.1560,502.1729
53630,2021-06-30,한경면,21503.2446,1912.2242,11617.5659,18252.7447,3564.1198,16209.7570,18812.5673,2357.6253,13661.2459,901.9392,40.7158,711.0444,784.2514,83.1545,665.2376,744.7741,51.6701,741.3903
53631,2021-06-30,한림읍,59846.8685,6475.3745,34625.2806,53300.7115,11059.5355,46796.3759,55890.7791,6899.5916,39092.0558,3213.0483,179.6102,1731.9677,3059.2799,242.4090,2259.0213,2792.1050,190.0857,2001.2400
53632,2021-06-30,화북동,73562.6806,5919.7466,28408.3363,51819.2324,10767.2774,39192.3853,60286.5190,8489.3173,40475.7685,819.0660,106.9172,240.2832,605.5591,167.4824,389.6259,698.5492,129.2529,389.5401
53633,2021-06-30,효돈동,10907.4568,634.1596,4465.1551,8190.4122,1162.2182,8023.1816,9208.1926,881.3927,6935.2563,128.8729,5.2404,86.6483,113.4358,28.8864,134.0862,135.0926,15.7212,176.9965

In [29]:
a = ['우도면', '추자면']
Data_4 = Data_4.drop(Data_4.query("emd_nm in @a").index)

In [30]:
temp = Data_4.groupby(['base_date','emd_nm','time']).sum().reset_index()
temp

          base_date emd_nm  time     emd_cd  visit_pop_cnt
0        2018-01-01    건입동     1  400884720       215.3073
1        2018-01-01    건입동     2  400884720       216.5271
2        2018-01-01    건입동     3  400884720       236.7032
3        2018-01-01    건입동     4  400884720       234.7976
4        2018-01-01    건입동     5  400884720       234.7976
...             ...    ...   ...        ...            ...
1187010  2021-06-30    화북동    21   50110600         1.8424
1187011  2021-06-30    화북동    22   50110600         1.8424
1187012  2021-06-30    화북동    23   50110600         1.8424
1187013  2021-06-30    화북동    24   50110600         1.8424
1187014  2021-06-30    효돈동    24   50130550         0.9212

[1187015 rows x 5 columns]

In [31]:
temp.drop('emd_cd',axis=1,inplace=True)

In [32]:
a = temp.groupby(['base_date','time']).mean().reset_index()
a['emd_nm'] = '알수없음'

In [33]:
a = a[['base_date','emd_nm','time','visit_pop_cnt']]

In [34]:
df = pd.concat([temp,a])

In [35]:
df.sort_values(by=['base_date','emd_nm'])

          base_date emd_nm  time  visit_pop_cnt
0        2018-01-01    건입동     1       215.3073
1        2018-01-01    건입동     2       216.5271
2        2018-01-01    건입동     3       236.7032
3        2018-01-01    건입동     4       234.7976
4        2018-01-01    건입동     5       234.7976
...             ...    ...   ...            ...
1187010  2021-06-30    화북동    21         1.8424
1187011  2021-06-30    화북동    22         1.8424
1187012  2021-06-30    화북동    23         1.8424
1187013  2021-06-30    화북동    24         1.8424
1187014  2021-06-30    효돈동    24         0.9212

[1217663 rows x 4 columns]

In [36]:
a = [7,8,9]
temp = df.query("time in @a")
temp = temp.groupby(['base_date','emd_nm']).sum().reset_index()
temp.drop('time',axis=1,inplace=True)
temp.columns = ['일자','읍면동','아침_단외_방문인구']
base = pd.merge(base, temp, how='left')
base

,일자,읍면동,아침_거주인구,아침_근무인구,아침_방문인구,점심_거주인구,점심_근무인구,점심_방문인구,저녁_거주인구,저녁_근무인구,...,아침_장외_거주인구,아침_장외_근무인구,아침_장외_방문인구,점심_장외_거주인구,점심_장외_근무인구,점심_장외_방문인구,저녁_장외_거주인구,저녁_장외_근무인구,저녁_장외_방문인구,아침_단외_방문인구
0,2018-01-01,건입동,23135.2020,2197.3953,23734.9423,19103.7819,3104.3580,22945.3031,17486.4049,3013.9263,...,579.3976,75.8958,538.5850,595.0578,90.4522,715.7913,474.1814,103.4853,626.5822,681.0169
1,2018-01-01,구좌읍,34088.4096,2133.9308,39279.5331,32386.3979,2876.1814,42117.0947,31377.8340,2401.9572,...,814.1019,69.3515,392.9430,798.4917,102.7427,551.7607,956.6426,102.5129,401.2847,198.1174
2,2018-01-01,남원읍,36792.2482,2370.7174,29574.9226,33437.2235,3382.0584,36226.4746,32791.2693,2321.5210,...,889.0194,110.2609,252.0126,823.1252,129.3804,399.6969,885.3347,119.5241,310.6768,421.6818
3,2018-01-01,노형동,147677.8328,6067.6430,39108.8039,131213.4800,10437.7500,58669.6608,134734.9901,13122.1301,...,5879.8603,318.8226,1097.1457,4883.3319,426.6690,1507.9721,5016.9845,558.0186,1940.0103,1358.3227
4,2018-01-01,대륜동,35091.6521,2239.7704,24145.2365,28965.6549,2780.6744,25470.4854,28147.6779,2857.1275,...,323.1430,32.1686,259.6316,351.0192,31.5960,296.4562,377.1736,23.7257,448.0142,155.7561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53629,2021-06-30,표선면,30642.5574,2948.9168,21019.1984,26721.8432,5148.3408,26369.4275,28130.1560,3415.1205,...,518.0440,52.9966,385.5901,463.9853,98.7956,569.7682,476.3412,79.1560,502.1729,12.7447
53630,2021-06-30,한경면,21503.2446,1912.2242,11617.5659,18252.7447,3564.1198,16209.7570,18812.5673,2357.6253,...,901.9392,40.7158,711.0444,784.2514,83.1545,665.2376,744.7741,51.6701,741.3903,2.8066
53631,2021-06-30,한림읍,59846.8685,6475.3745,34625.2806,53300.7115,11059.5355,46796.3759,55890.7791,6899.5916,...,3213.0483,179.6102,1731.9677,3059.2799,242.4090,2259.0213,2792.1050,190.0857,2001.2400,9.6350
53632,2021-06-30,화북동,73562.6806,5919.7466,28408.3363,51819.2324,10767.2774,39192.3853,60286.5190,8489.3173,...,819.0660,106.9172,240.2832,605.5591,167.4824,389.6259,698.5492,129.2529,389.5401,5.9298
53633,2021-06-30,효돈동,10907.4568,634.1596,4465.1551,8190.4122,1162.2182,8023.1816,9208.1926,881.3927,...,128.8729,5.2404,86.6483,113.4358,28.8864,134.0862,135.0926,15.7212,176.9965,NaN

In [37]:
a = [11,12,13]
temp = df.query("time in @a")
temp = temp.groupby(['base_date','emd_nm']).sum().reset_index()
temp.drop('time',axis=1,inplace=True)
temp.columns = ['일자','읍면동','점심_단외_방문인구']
base = pd.merge(base, temp, how='left')
base

,일자,읍면동,아침_거주인구,아침_근무인구,아침_방문인구,점심_거주인구,점심_근무인구,점심_방문인구,저녁_거주인구,저녁_근무인구,...,아침_장외_근무인구,아침_장외_방문인구,점심_장외_거주인구,점심_장외_근무인구,점심_장외_방문인구,저녁_장외_거주인구,저녁_장외_근무인구,저녁_장외_방문인구,아침_단외_방문인구,점심_단외_방문인구
0,2018-01-01,건입동,23135.2020,2197.3953,23734.9423,19103.7819,3104.3580,22945.3031,17486.4049,3013.9263,...,75.8958,538.5850,595.0578,90.4522,715.7913,474.1814,103.4853,626.5822,681.0169,447.3908
1,2018-01-01,구좌읍,34088.4096,2133.9308,39279.5331,32386.3979,2876.1814,42117.0947,31377.8340,2401.9572,...,69.3515,392.9430,798.4917,102.7427,551.7607,956.6426,102.5129,401.2847,198.1174,341.2179
2,2018-01-01,남원읍,36792.2482,2370.7174,29574.9226,33437.2235,3382.0584,36226.4746,32791.2693,2321.5210,...,110.2609,252.0126,823.1252,129.3804,399.6969,885.3347,119.5241,310.6768,421.6818,423.9673
3,2018-01-01,노형동,147677.8328,6067.6430,39108.8039,131213.4800,10437.7500,58669.6608,134734.9901,13122.1301,...,318.8226,1097.1457,4883.3319,426.6690,1507.9721,5016.9845,558.0186,1940.0103,1358.3227,1110.2290
4,2018-01-01,대륜동,35091.6521,2239.7704,24145.2365,28965.6549,2780.6744,25470.4854,28147.6779,2857.1275,...,32.1686,259.6316,351.0192,31.5960,296.4562,377.1736,23.7257,448.0142,155.7561,170.2322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53629,2021-06-30,표선면,30642.5574,2948.9168,21019.1984,26721.8432,5148.3408,26369.4275,28130.1560,3415.1205,...,52.9966,385.5901,463.9853,98.7956,569.7682,476.3412,79.1560,502.1729,12.7447,10.8906
53630,2021-06-30,한경면,21503.2446,1912.2242,11617.5659,18252.7447,3564.1198,16209.7570,18812.5673,2357.6253,...,40.7158,711.0444,784.2514,83.1545,665.2376,744.7741,51.6701,741.3903,2.8066,0.4619
53631,2021-06-30,한림읍,59846.8685,6475.3745,34625.2806,53300.7115,11059.5355,46796.3759,55890.7791,6899.5916,...,179.6102,1731.9677,3059.2799,242.4090,2259.0213,2792.1050,190.0857,2001.2400,9.6350,10.4752
53632,2021-06-30,화북동,73562.6806,5919.7466,28408.3363,51819.2324,10767.2774,39192.3853,60286.5190,8489.3173,...,106.9172,240.2832,605.5591,167.4824,389.6259,698.5492,129.2529,389.5401,5.9298,5.2099
53633,2021-06-30,효돈동,10907.4568,634.1596,4465.1551,8190.4122,1162.2182,8023.1816,9208.1926,881.3927,...,5.2404,86.6483,113.4358,28.8864,134.0862,135.0926,15.7212,176.9965,NaN,NaN

In [38]:
a = [17,18,19]
temp = df.query("time in @a")
temp = temp.groupby(['base_date','emd_nm']).sum().reset_index()
temp.drop('time',axis=1,inplace=True)
temp.columns = ['일자','읍면동','저녁_단외_방문인구']
base = pd.merge(base, temp, how='left')
base

,일자,읍면동,아침_거주인구,아침_근무인구,아침_방문인구,점심_거주인구,점심_근무인구,점심_방문인구,저녁_거주인구,저녁_근무인구,...,아침_장외_방문인구,점심_장외_거주인구,점심_장외_근무인구,점심_장외_방문인구,저녁_장외_거주인구,저녁_장외_근무인구,저녁_장외_방문인구,아침_단외_방문인구,점심_단외_방문인구,저녁_단외_방문인구
0,2018-01-01,건입동,23135.2020,2197.3953,23734.9423,19103.7819,3104.3580,22945.3031,17486.4049,3013.9263,...,538.5850,595.0578,90.4522,715.7913,474.1814,103.4853,626.5822,681.0169,447.3908,497.9289
1,2018-01-01,구좌읍,34088.4096,2133.9308,39279.5331,32386.3979,2876.1814,42117.0947,31377.8340,2401.9572,...,392.9430,798.4917,102.7427,551.7607,956.6426,102.5129,401.2847,198.1174,341.2179,417.5292
2,2018-01-01,남원읍,36792.2482,2370.7174,29574.9226,33437.2235,3382.0584,36226.4746,32791.2693,2321.5210,...,252.0126,823.1252,129.3804,399.6969,885.3347,119.5241,310.6768,421.6818,423.9673,442.7158
3,2018-01-01,노형동,147677.8328,6067.6430,39108.8039,131213.4800,10437.7500,58669.6608,134734.9901,13122.1301,...,1097.1457,4883.3319,426.6690,1507.9721,5016.9845,558.0186,1940.0103,1358.3227,1110.2290,1060.2699
4,2018-01-01,대륜동,35091.6521,2239.7704,24145.2365,28965.6549,2780.6744,25470.4854,28147.6779,2857.1275,...,259.6316,351.0192,31.5960,296.4562,377.1736,23.7257,448.0142,155.7561,170.2322,112.2414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53629,2021-06-30,표선면,30642.5574,2948.9168,21019.1984,26721.8432,5148.3408,26369.4275,28130.1560,3415.1205,...,385.5901,463.9853,98.7956,569.7682,476.3412,79.1560,502.1729,12.7447,10.8906,8.8428
53630,2021-06-30,한경면,21503.2446,1912.2242,11617.5659,18252.7447,3564.1198,16209.7570,18812.5673,2357.6253,...,711.0444,784.2514,83.1545,665.2376,744.7741,51.6701,741.3903,2.8066,0.4619,3.2255
53631,2021-06-30,한림읍,59846.8685,6475.3745,34625.2806,53300.7115,11059.5355,46796.3759,55890.7791,6899.5916,...,1731.9677,3059.2799,242.4090,2259.0213,2792.1050,190.0857,2001.2400,9.6350,10.4752,8.8706
53632,2021-06-30,화북동,73562.6806,5919.7466,28408.3363,51819.2324,10767.2774,39192.3853,60286.5190,8489.3173,...,240.2832,605.5591,167.4824,389.6259,698.5492,129.2529,389.5401,5.9298,5.2099,5.5438
53633,2021-06-30,효돈동,10907.4568,634.1596,4465.1551,8190.4122,1162.2182,8023.1816,9208.1926,881.3927,...,86.6483,113.4358,28.8864,134.0862,135.0926,15.7212,176.9965,NaN,NaN,NaN

## 노인 거주 인구

In [39]:
a = ['우도면', '추자면']
Data_2 = Data_2.drop(Data_2.query("emd_nm in @a").index)

In [40]:
temp = Data_2.groupby(['base_date','emd_nm','age']).sum().reset_index()
temp

,base_date,emd_nm,age,time,emd_cd,resd_pop_cnt,work_pop_cnt,visit_pop_cnt
0,2018-01-01,건입동,0,1200,4810616640,16351.2905,713.8630,16214.6272
1,2018-01-01,건입동,10,1200,4810616640,18486.9641,814.5841,18564.0649
2,2018-01-01,건입동,20,1200,4810616640,15567.3243,3324.0660,24819.1271
3,2018-01-01,건입동,30,1200,4810616640,21464.1979,3076.2479,24662.7518
4,2018-01-01,건입동,40,1200,4810616640,28162.6876,4193.0287,33514.8307
...,...,...,...,...,...,...,...,...
471208,2021-06-30,효돈동,40,1200,4812532800,13048.2698,1201.3172,6634.0157
471209,2021-06-30,효돈동,50,1200,4812532800,15587.7237,1371.6294,7738.4695
471210,2021-06-30,효돈동,60,1200,4812532800,13604.6820,695.3218,5568.2805
471211,2021-06-30,효돈동,70,1200,4812532800,9921.4180,176.8777,2737.0372
471212,2021-06-30,효돈동,80,1200,4812532800,5891.2591,82.1290,1348.9700

In [41]:
temp.drop(['time','emd_cd','work_pop_cnt','visit_pop_cnt'],axis=1,inplace=True)

In [42]:
a = Data_2.groupby(['base_date','age']).mean().reset_index()
a

,base_date,age,time,emd_cd,resd_pop_cnt,work_pop_cnt,visit_pop_cnt
0,2018-01-01,0,12.50000,5.011880e+07,328.861353,17.397306,201.988818
1,2018-01-01,10,12.50000,5.011880e+07,377.867026,19.829098,231.953506
2,2018-01-01,20,12.50000,5.011880e+07,298.212379,33.702832,273.834379
3,2018-01-01,30,12.50000,5.011880e+07,398.136245,32.299138,285.500795
4,2018-01-01,40,12.50000,5.011880e+07,585.651856,43.497336,363.606455
...,...,...,...,...,...,...,...
11488,2021-06-30,40,12.50000,5.011880e+07,553.481824,77.992414,343.254939
11489,2021-06-30,50,12.50000,5.011880e+07,571.148903,73.007198,359.299983
11490,2021-06-30,60,12.50000,5.011880e+07,409.319619,31.457252,233.513627
11491,2021-06-30,70,12.50687,5.011882e+07,222.679970,9.381148,92.236140
11492,2021-06-30,80,12.50687,5.011882e+07,107.505247,4.580606,43.893162

In [43]:
a.drop(['time','emd_cd','work_pop_cnt','visit_pop_cnt'],axis=1,inplace=True)

In [44]:
a['emd_nm'] = '알수없음'

In [45]:
a = a[['base_date','emd_nm','age','resd_pop_cnt']]

In [46]:
temp = pd.concat([temp,a])
temp

        base_date emd_nm  age  resd_pop_cnt
0      2018-01-01    건입동    0  16351.290500
1      2018-01-01    건입동   10  18486.964100
2      2018-01-01    건입동   20  15567.324300
3      2018-01-01    건입동   30  21464.197900
4      2018-01-01    건입동   40  28162.687600
...           ...    ...  ...           ...
11488  2021-06-30   알수없음   40    553.481824
11489  2021-06-30   알수없음   50    571.148903
11490  2021-06-30   알수없음   60    409.319619
11491  2021-06-30   알수없음   70    222.679970
11492  2021-06-30   알수없음   80    107.505247

[482706 rows x 4 columns]

In [47]:
temp.sort_values(by=['base_date','emd_nm'])

         base_date emd_nm  age  resd_pop_cnt
0       2018-01-01    건입동    0    16351.2905
1       2018-01-01    건입동   10    18486.9641
2       2018-01-01    건입동   20    15567.3243
3       2018-01-01    건입동   30    21464.1979
4       2018-01-01    건입동   40    28162.6876
...            ...    ...  ...           ...
471208  2021-06-30    효돈동   40    13048.2698
471209  2021-06-30    효돈동   50    15587.7237
471210  2021-06-30    효돈동   60    13604.6820
471211  2021-06-30    효돈동   70     9921.4180
471212  2021-06-30    효돈동   80     5891.2591

[482706 rows x 4 columns]

In [48]:
temp = temp[temp['age']>50]

In [49]:
temp = temp.groupby(['base_date','emd_nm']).sum().reset_index()
temp.drop('age',axis=1,inplace=True)
temp

        base_date emd_nm  resd_pop_cnt
0      2018-01-01    건입동    40177.1069
1      2018-01-01    구좌읍    68359.4896
2      2018-01-01    남원읍    73921.0157
3      2018-01-01    노형동   157041.0816
4      2018-01-01    대륜동    52420.4092
...           ...    ...           ...
53629  2021-06-30    표선면    73414.5437
53630  2021-06-30    한경면    58798.7886
53631  2021-06-30    한림읍   130420.4945
53632  2021-06-30    화북동   100418.3094
53633  2021-06-30    효돈동    29417.3591

[53634 rows x 3 columns]

In [50]:
temp.columns = ['일자','읍면동','노인거주인구']

In [51]:
base = pd.merge(base, temp, how='left')
base

,일자,읍면동,아침_거주인구,아침_근무인구,아침_방문인구,점심_거주인구,점심_근무인구,점심_방문인구,저녁_거주인구,저녁_근무인구,...,점심_장외_거주인구,점심_장외_근무인구,점심_장외_방문인구,저녁_장외_거주인구,저녁_장외_근무인구,저녁_장외_방문인구,아침_단외_방문인구,점심_단외_방문인구,저녁_단외_방문인구,노인거주인구
0,2018-01-01,건입동,23135.2020,2197.3953,23734.9423,19103.7819,3104.3580,22945.3031,17486.4049,3013.9263,...,595.0578,90.4522,715.7913,474.1814,103.4853,626.5822,681.0169,447.3908,497.9289,40177.1069
1,2018-01-01,구좌읍,34088.4096,2133.9308,39279.5331,32386.3979,2876.1814,42117.0947,31377.8340,2401.9572,...,798.4917,102.7427,551.7607,956.6426,102.5129,401.2847,198.1174,341.2179,417.5292,68359.4896
2,2018-01-01,남원읍,36792.2482,2370.7174,29574.9226,33437.2235,3382.0584,36226.4746,32791.2693,2321.5210,...,823.1252,129.3804,399.6969,885.3347,119.5241,310.6768,421.6818,423.9673,442.7158,73921.0157
3,2018-01-01,노형동,147677.8328,6067.6430,39108.8039,131213.4800,10437.7500,58669.6608,134734.9901,13122.1301,...,4883.3319,426.6690,1507.9721,5016.9845,558.0186,1940.0103,1358.3227,1110.2290,1060.2699,157041.0816
4,2018-01-01,대륜동,35091.6521,2239.7704,24145.2365,28965.6549,2780.6744,25470.4854,28147.6779,2857.1275,...,351.0192,31.5960,296.4562,377.1736,23.7257,448.0142,155.7561,170.2322,112.2414,52420.4092
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53629,2021-06-30,표선면,30642.5574,2948.9168,21019.1984,26721.8432,5148.3408,26369.4275,28130.1560,3415.1205,...,463.9853,98.7956,569.7682,476.3412,79.1560,502.1729,12.7447,10.8906,8.8428,73414.5437
53630,2021-06-30,한경면,21503.2446,1912.2242,11617.5659,18252.7447,3564.1198,16209.7570,18812.5673,2357.6253,...,784.2514,83.1545,665.2376,744.7741,51.6701,741.3903,2.8066,0.4619,3.2255,58798.7886
53631,2021-06-30,한림읍,59846.8685,6475.3745,34625.2806,53300.7115,11059.5355,46796.3759,55890.7791,6899.5916,...,3059.2799,242.4090,2259.0213,2792.1050,190.0857,2001.2400,9.6350,10.4752,8.8706,130420.4945
53632,2021-06-30,화북동,73562.6806,5919.7466,28408.3363,51819.2324,10767.2774,39192.3853,60286.5190,8489.3173,...,605.5591,167.4824,389.6259,698.5492,129.2529,389.5401,5.9298,5.2099,5.5438,100418.3094
53633,2021-06-30,효돈동,10907.4568,634.1596,4465.1551,8190.4122,1162.2182,8023.1816,9208.1926,881.3927,...,113.4358,28.8864,134.0862,135.0926,15.7212,176.9965,NaN,NaN,NaN,29417.3591

In [52]:
base.fillna(0,inplace=True)

## 회 당 배출량

In [53]:
Data_1['em_mean'] = Data_1['em_g']/Data_1['em_cnt']
Data_1['pay_mean'] = Data_1['pay_amt']/Data_1['em_cnt']

In [54]:
temp = Data_1.groupby(['base_date','emd_nm']).sum().reset_index()
temp.drop(['em_cnt','em_g','pay_amt'],axis=1,inplace=True)
temp

        base_date emd_nm        em_mean      pay_mean
0      2018-01-01    건입동   71922.531403   2150.727168
1      2018-01-01    남원읍  191915.143697   5746.347536
2      2018-01-01    노형동  368469.366520  10971.836007
3      2018-01-01    대륜동   69681.711185   2043.970788
4      2018-01-01    대정읍  112840.030709   3378.265905
...           ...    ...            ...           ...
50517  2021-06-30    표선면  126786.198510   3795.708919
50518  2021-06-30    한경면  225253.612082   6742.826310
50519  2021-06-30    한림읍  496739.570517  14878.970758
50520  2021-06-30    화북동  139053.552499   4154.358788
50521  2021-06-30    효돈동   39037.062439   1168.315071

[50522 rows x 4 columns]

In [55]:
temp.columns = ['일자','읍면동','회당배출량','회당배출금액']

In [56]:
base = pd.merge(base, temp, how='left')
base

,일자,읍면동,아침_거주인구,아침_근무인구,아침_방문인구,점심_거주인구,점심_근무인구,점심_방문인구,저녁_거주인구,저녁_근무인구,...,점심_장외_방문인구,저녁_장외_거주인구,저녁_장외_근무인구,저녁_장외_방문인구,아침_단외_방문인구,점심_단외_방문인구,저녁_단외_방문인구,노인거주인구,회당배출량,회당배출금액
0,2018-01-01,건입동,23135.2020,2197.3953,23734.9423,19103.7819,3104.3580,22945.3031,17486.4049,3013.9263,...,715.7913,474.1814,103.4853,626.5822,681.0169,447.3908,497.9289,40177.1069,71922.531403,2150.727168
1,2018-01-01,구좌읍,34088.4096,2133.9308,39279.5331,32386.3979,2876.1814,42117.0947,31377.8340,2401.9572,...,551.7607,956.6426,102.5129,401.2847,198.1174,341.2179,417.5292,68359.4896,NaN,NaN
2,2018-01-01,남원읍,36792.2482,2370.7174,29574.9226,33437.2235,3382.0584,36226.4746,32791.2693,2321.5210,...,399.6969,885.3347,119.5241,310.6768,421.6818,423.9673,442.7158,73921.0157,191915.143697,5746.347536
3,2018-01-01,노형동,147677.8328,6067.6430,39108.8039,131213.4800,10437.7500,58669.6608,134734.9901,13122.1301,...,1507.9721,5016.9845,558.0186,1940.0103,1358.3227,1110.2290,1060.2699,157041.0816,368469.366520,10971.836007
4,2018-01-01,대륜동,35091.6521,2239.7704,24145.2365,28965.6549,2780.6744,25470.4854,28147.6779,2857.1275,...,296.4562,377.1736,23.7257,448.0142,155.7561,170.2322,112.2414,52420.4092,69681.711185,2043.970788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53629,2021-06-30,표선면,30642.5574,2948.9168,21019.1984,26721.8432,5148.3408,26369.4275,28130.1560,3415.1205,...,569.7682,476.3412,79.1560,502.1729,12.7447,10.8906,8.8428,73414.5437,126786.198510,3795.708919
53630,2021-06-30,한경면,21503.2446,1912.2242,11617.5659,18252.7447,3564.1198,16209.7570,18812.5673,2357.6253,...,665.2376,744.7741,51.6701,741.3903,2.8066,0.4619,3.2255,58798.7886,225253.612082,6742.826310
53631,2021-06-30,한림읍,59846.8685,6475.3745,34625.2806,53300.7115,11059.5355,46796.3759,55890.7791,6899.5916,...,2259.0213,2792.1050,190.0857,2001.2400,9.6350,10.4752,8.8706,130420.4945,496739.570517,14878.970758
53632,2021-06-30,화북동,73562.6806,5919.7466,28408.3363,51819.2324,10767.2774,39192.3853,60286.5190,8489.3173,...,389.6259,698.5492,129.2529,389.5401,5.9298,5.2099,5.5438,100418.3094,139053.552499,4154.358788
53633,2021-06-30,효돈동,10907.4568,634.1596,4465.1551,8190.4122,1162.2182,8023.1816,9208.1926,881.3927,...,134.0862,135.0926,15.7212,176.9965,0.0000,0.0000,0.0000,29417.3591,39037.062439,1168.315071

## 회 당 결제금액

In [57]:
Data_5['use_mean'] = Data_5['use_amt']/Data_5['use_cnt']

In [58]:
a = ['우도면', '추자면']
Data_5 = Data_5.drop(Data_5.query("emd_nm in @a").index)

In [59]:
temp = Data_5.groupby(['base_date','emd_nm']).sum().reset_index()

In [60]:
temp.drop(['use_cnt','use_amt'],axis=1,inplace=True)

In [61]:
temp.columns = ['일자','읍면동','회당결제금액']

In [62]:
base = pd.merge(base, temp, how='left')
base

,일자,읍면동,아침_거주인구,아침_근무인구,아침_방문인구,점심_거주인구,점심_근무인구,점심_방문인구,저녁_거주인구,저녁_근무인구,...,저녁_장외_거주인구,저녁_장외_근무인구,저녁_장외_방문인구,아침_단외_방문인구,점심_단외_방문인구,저녁_단외_방문인구,노인거주인구,회당배출량,회당배출금액,회당결제금액
0,2018-01-01,건입동,23135.2020,2197.3953,23734.9423,19103.7819,3104.3580,22945.3031,17486.4049,3013.9263,...,474.1814,103.4853,626.5822,681.0169,447.3908,497.9289,40177.1069,71922.531403,2150.727168,3.334790e+05
1,2018-01-01,구좌읍,34088.4096,2133.9308,39279.5331,32386.3979,2876.1814,42117.0947,31377.8340,2401.9572,...,956.6426,102.5129,401.2847,198.1174,341.2179,417.5292,68359.4896,NaN,NaN,3.170471e+05
2,2018-01-01,남원읍,36792.2482,2370.7174,29574.9226,33437.2235,3382.0584,36226.4746,32791.2693,2321.5210,...,885.3347,119.5241,310.6768,421.6818,423.9673,442.7158,73921.0157,191915.143697,5746.347536,4.238567e+05
3,2018-01-01,노형동,147677.8328,6067.6430,39108.8039,131213.4800,10437.7500,58669.6608,134734.9901,13122.1301,...,5016.9845,558.0186,1940.0103,1358.3227,1110.2290,1060.2699,157041.0816,368469.366520,10971.836007,5.130863e+05
4,2018-01-01,대륜동,35091.6521,2239.7704,24145.2365,28965.6549,2780.6744,25470.4854,28147.6779,2857.1275,...,377.1736,23.7257,448.0142,155.7561,170.2322,112.2414,52420.4092,69681.711185,2043.970788,2.975078e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53629,2021-06-30,표선면,30642.5574,2948.9168,21019.1984,26721.8432,5148.3408,26369.4275,28130.1560,3415.1205,...,476.3412,79.1560,502.1729,12.7447,10.8906,8.8428,73414.5437,126786.198510,3795.708919,1.108237e+06
53630,2021-06-30,한경면,21503.2446,1912.2242,11617.5659,18252.7447,3564.1198,16209.7570,18812.5673,2357.6253,...,744.7741,51.6701,741.3903,2.8066,0.4619,3.2255,58798.7886,225253.612082,6742.826310,4.862556e+05
53631,2021-06-30,한림읍,59846.8685,6475.3745,34625.2806,53300.7115,11059.5355,46796.3759,55890.7791,6899.5916,...,2792.1050,190.0857,2001.2400,9.6350,10.4752,8.8706,130420.4945,496739.570517,14878.970758,4.754888e+05
53632,2021-06-30,화북동,73562.6806,5919.7466,28408.3363,51819.2324,10767.2774,39192.3853,60286.5190,8489.3173,...,698.5492,129.2529,389.5401,5.9298,5.2099,5.5438,100418.3094,139053.552499,4154.358788,3.865195e+05
53633,2021-06-30,효돈동,10907.4568,634.1596,4465.1551,8190.4122,1162.2182,8023.1816,9208.1926,881.3927,...,135.0926,15.7212,176.9965,0.0000,0.0000,0.0000,29417.3591,39037.062439,1168.315071,3.057161e+05

In [63]:
base.to_csv('../data/processed_data/new_feature.csv',encoding='cp949',index=False)